PORT=3000
NODE_ENV=development

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=option_chains
MYSQL_CONNECTION_LIMIT=10

OPTION_SYMBOLS=POET,AAOI,MRVL,LITE,ALAB,COHR
OPTION_UPDATE_CRON=0 30 18 * * 1-5
OPTION_DATA_PROVIDER=alpaca
OPTION_CONTRACT_LIMIT=500
OPTION_TYPE=
OPTION_EXPIRATION_DATE=
OPTION_EXPIRATION_DATE_GTE=
OPTION_EXPIRATION_DATE_LTE=

ALPACA_OPTION_DATA_URL=https://data.alpaca.markets/v1beta1/options/snapshots
ALPACA_OPTION_FEED=indicative
ALPACA_API_KEY_ID=
ALPACA_API_SECRET_KEY=

OPTION_DATA_API_URL=
OPTION_DATA_API_KEY=
USE_MOCK_SOURCE=true
